<%= link_to("Back to index", {:controller => 'access', :action => 'index'}, :class => "back-link") %>
<% if !flash[:error].blank? %>
	<div class="notice"> 
		<%= flash[:error] %> 
	</div>
<% end %>
<div class="users new">
	<h2>Add new user</h2>
	<%= form_for(:users, :url => {:action => 'create'}) do |f| %>
		<table summary="New user form">
			<tr>
				<td>Username</td>
				<td><%= text_field_tag(:username) %></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><%= text_field_tag(:password) %></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><%= text_field_tag(:email) %></td>
			</tr>
			<tr>
				<td>Notes:</td>
				<td>&nbsp;</td>
			</tr>
		</table>
		<div class="notes"><%= f.text_area :notes, :size => "30x10" %></div>
		<br />
		<div class="form-button">
			<%= submit_tag("Create Admin") %>
		</div>
	<% end %>
</div>